{% extends 'base.html' %}

{% load static %}

{% block title %} Пользователь {{ user_phone_number }}{% endblock title %}

{% block content %}

    <script>
        window.currentUser = "{{ request.user.phone_number|escapejs }}";
    </script>

    <script type="module" src="{% static 'js/user.js' %}"></script>
    <script type="module" src="{% static 'js/activate_code.js' %}"></script>

    <h2>Привет, {{ user_phone_number }}!</h2>

    <div class="user-info" id="user-info-form">
        <img src="{% static 'img/avatar.jpg' %}" alt="avatar" width="270">
        <ul style="display: flex; flex-direction: column;">
            <li id="activate-code-form" style="order: 999; display: none; background: none; border: none;">
                <input type="text" id="activateCodeInput" placeholder="Введите код">
                <button id="code-activate-btn">Активировать</button>
            </li>
        </ul>
    </div>

{% endblock content %}
