/* base */

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body div {
    width: 1200px;
    margin: 0 auto;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30px;
    background-color: #1a73e8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header a {
    color: white;
    font-style: italic;
}

/* page */

div.content {
    margin-top: 50px;
}

.page {
  display: flex;
  flex-direction: column;
}


div.content h2,
div.content h3 {
    text-align: end;
    color: #6d6d6d;
}

.login-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: rgb(245, 245, 245);
    margin: 50px auto;
    border-radius: 10px;
}

.login-form input,
#user-info-form ul input {
    display: block;
    margin: 0 auto 15px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center;
}

.login-form input::placeholder,
#user-info-form ul input::placeholder {
    text-align: center;
}

.login-form button,
#user-info-form ul button {
    display: block;
    margin: 0 auto;
    background: #1a73e8;
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    border: none;
    transition: 300ms;
    border-radius: 5px;
}

.login-form button:hover,
#user-info-form ul button:hover {
    display: block;
    margin: 0 auto;
    background: #5f9ff3;
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    border: none;
    transition: 300ms;
}

.user-info {
    width: 1158px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: rgb(245, 245, 245);
    margin: 50px auto;
    border-radius: 10px;
    display: block;
}

.inviters-info {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: rgb(245, 245, 245);
    margin: 50px 0;
    border-radius: 10px;
    display: block;
}

.user-info img {
    border: 1px solid #ddd;
    border-radius: 5px;
    float: left;
}

.user-info ul,
.inviters-info ul {
    float: right;
    list-style: none;
    width: 510px;
    padding: 0;
    margin: 20px 0 0;
}

.user-info ul li,
.inviters-info ul li {
    padding: 5px;
    border: 1px solid #ddd;
    background-color: white;
    margin: 0 0 15px;
    border-radius: 5px;
    display: block;
}

#inviters-list {
    display: flex;
    flex-direction: column;
    float: right;
    width: 336px;
    margin: 0;
}

#inviters-list li {
    text-align: center;
    background: none;
    border: none;
    color: #1a73e8;
}

/* footer */

footer {
    text-align: right;
    background-color: rgb(245, 245, 245);
    border: 1px solid #ddd;
}

footer p {
    margin: 5px;
}

footer a {
    margin: 5px;
}